.icon-logo {
    fill: $color-text-primary;
    width: 40px;
    height: 40px;
}
.marker {
    fill: $color-accent;
    width: 28px;
    height: 40px;
}
.contact-icon {
    width: 20px;
    height: 20px;
    // margin: 0 15px 0 0;
}
.icon-footer {
    fill: $color-text-secondary;
    width: 38px;
    height: 38px;
}
.scroll-up {
    fill: $color-accent;
    width: 20px;
    height: 20px; 
}
