// $color-link: #eb2121;
// $primary-color-dark:   #FBC02D;
// $primary-color:        #FFEB3B;
// $primary-color-light:  #FFF9C4;
// $primary-color-text:   #212121;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

// color-text
$color-text-primary: #292929;
$color-text-secondary: #ffffff;
$color-text-gray: #969696;
// 969696 626262 9e9e9e
// color
$color-accent:  #ffcc00;
$color-accent-dark:  #e6b802;
// color-gray
$color-gray: #f4f4f4;
$color-gray-light: #f6f6f6;
