.footer {
    width: 100%;
    min-height: 150px;
    background: $color-text-primary;
    // color: $color-text-secondary;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        .logo {
            color: $color-text-secondary;
            &__title {
                margin: 0;
            }
            &__text {
                color: $color-text-secondary;
            }
        } 
        .callback {
            flex-direction: column;
            &__phone {
                color: $color-text-secondary;
                margin: 0 0 25px;
            }
            &__link {
                color: $color-text-secondary;
            }
            &__text {
                color: $color-text-secondary;
            }
            &__btn {
                color: $color-text-secondary;
                border: 2px solid $color-text-secondary; 
            }

        }      
    }
}