.header {
    width: 100%;
    overflow: hidden;
    // min-height: 680px;
    height: 100vh;
    .top-header {
        min-height: 130px;
        // background: rgba(43, 153, 120, 0.37);
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 30px 0 0;
            .burger {
                &__item {
                    width: 35px;
                    height: 4px;
                    background: $color-text-primary;
                    margin: 0 0 5px;
                    transition: all .5s ease;
                    display: none;
                    &:last-child {
                        margin: 0px;
                    }
                }
            }
            .burger.toggle .burger__item:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
                transition: all .5s ease;
            }
            .burger.toggle .burger__item:nth-child(2) {
                opacity: 0;
            }
            .burger.toggle .burger__item:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
                transition: all .5s ease;
            }
        }
        
        nav {
            position: relative;
            top: 30px;
            .menu {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background: $color-accent;
                min-height: 60px;
                // &__item{
                    
                // }
                &__link{
                   color: $color-text-primary;
                   font-family: 'Gotham_proBold';
                   font-size: 14px;
                   text-transform: capitalize;
                }
            }
        }
    }
    
    .banner {
        background: url("../../img/bg/banner.png")no-repeat center top;
        background-size: cover;
        min-height: 550px;
        display: flex;
        align-items: center;
        color: $color-text-secondary;
        &__title {
            font-size: 38px;
            text-transform: uppercase;
            font-family: 'Gotham_proMedium';
            line-height: 1.5em;
        }
        &__text {
            font-family: 'Gotham_proLight';
            font-size: 14px;
            line-height: 1.5em;
            margin: 40px 0 60px;
        }
        &__buttons {
            display: flex;
            align-items: center;
            font-family: 'Gotham_proMedium';
        }
        &__btn {
            width: 200px;
            height: 50px;
            font-size: 14px;
            color: $color-text-primary;
            background: $color-accent;
            text-align: center;
            line-height: 50px;
            &:hover {
                background: transparent;
                border: 1px solid $color-text-secondary;
                color: $color-text-secondary;
            }
            &--transparent {
                background: transparent;
                color: $color-text-secondary;
                &:hover {
                    background: $color-accent;
                    color: $color-text-primary;
                    border: none;
                }
            }
        }
        &__span {
            font-family: 'Gotham_proLight';
            margin: 0 30px;
        }
        
    }
}