
@media(max-width:920px){
    header .nav{
        /* display: none; */
        position: absolute;
        width: 100vw;
        height: calc(100vh - 70px);
        background: #333333;
        top: 70px;
        left: -200%;
        transition: .8s linear;
    }
    
    header nav.active{
        left: 0;
        transition: .8s linear;
    }
    .menu-toggle{
        display: block;  
    }
    .header__top.white .menu-toggle{
        color: #21a5c1;
    }
    header nav .list{
        display: block;
        text-align: center;
    }
    .header__top.white .list__item a{
        color: #ffffff;
    }
        .list__item:hover{
            border-bottom: 0px;
            background: #21a5c1;
            transition: .5s;
        }
    header nav ul a{
        border-bottom: 1px solid rgba(0,0,0,.2);
        padding: 20px;
    }
    header .list-2{
        /* position: relative; */
        left: 50%;
        margin-left: -100px;
        z-index: 5;
    }
    header .header__top.white .list-2 li a{
        color: #333333;
    }
}

@media only screen and (max-width: 680px){
    header{
        min-height: 600px;
    }
    .header__title{
        padding: 217px 0 0;
    }
    .header__title h1{
        font-size: 55px;
    }
    .header__title p{
        font-size: 16px;
    }
    .arrow{
        padding-top: 20%;
    }
}

@media only screen and (max-width: 620px){
    .header__title h1{
        font-size: 48px;
    }
    .header__title p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 560px){
    .header__title h1{
        font-size: 45px;
    }
    .header__title p{
        font-size: 12px;
    }
    .arrow{
        padding-top: 30%;
    }
}

@media only screen and (max-width: 500px){
    header{
        min-height: 500px;
    }
    .header__title h1{
        font-size: 37px;
    }
}

@media only screen and (max-width: 415px){
    .header__title h1{
        font-size: 32px;
    }
    .header__title p{
        font-size: 10px;
    }
}

@media only screen and (max-width: 360px){
    header{
        min-height: 445px;
    }
    .header__title{
        padding: 165px 0 0;
    }
    .header__title h1{
        font-size: 27px;
    }
    .header__title p{
        font-size: 9px;
    }
    .arrow__img {
        width: 45px;
    }
}

@media only screen and (max-width: 300px){
    .header__title h1{
        font-size: 23px;
    }
}