.in-stock {
    width: 100%;
    min-height: 700px;
    .products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .product {
            width: 300px;
            height: 470px;
            border: 2px solid $color-gray-light;
            text-align: center;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;
            &:hover {
                box-shadow: 5px 5px 20px $color-text-gray;
            }
            &__img {
               margin: 0 0 35px; 
            }
            &__title {
                font-size: 15px;
                color: $color-text-primary;
                margin: 0 0 18px;
            }
            &__text {
                font-family: 'Gotham_proLight';
                font-size: 13px;
                line-height: 1.4em;
                margin: 0 0 25px;
            }
            &__price {
                font-family: 'Gotham_proMedium';
                font-size: 16px;
                line-height: 1.3em;
                margin: 0 0 30px;
            }
        }
    }
}